@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;500;600;700&family=Vidaloka&display=swap");

:root {
  --color-primary: #505050;
  --color-secondary: #000000;
  --color-title: #262626;
  --color-bg: #f9fbfe;
  --primary-font: "Poppins", sans-serif;
}

/* reset */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

/* global */
html,
body {
  height: 100%;
}

body {
  font-family: var(--primary-font);
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  color: var(--color-primary);
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1735px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  width: 241px;
  height: 73px;
  padding: 23px 64px 23px 65px;
  color: #ffffff;
  background-color: var(--color-title);
  box-shadow: 5px 6px 27px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
/* header */
.header {
  height: 108px;
}
.header__search {
  margin-right: 35px;
}

.header__language {
  margin-right: 40px;
}

.header__basket {
  margin-right: 30px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0 46px;
}

.logo {
  font-family: "Vidaloka";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-secondary);
}

.menu {
  display: flex;
  align-items: center;
  gap: 56px;
}

.menu__list-link {
  color: var(--color-secondary);
  transition: all 0.3s ease-in-out;
}

.menu__list-link:hover {
  border-bottom: 1px solid var(--color-secondary);
}

.menu__list-link--active {
  border-bottom: 1px solid var(--color-secondary);
}

.user-nav {
  display: flex;
  align-items: center;
}
.search {
  padding: 0;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.language {
  position: relative;
}
.language__item.visible .language__list {
  display: block;
  opacity: 1;
  height: auto;
}

.language__item.visible .language__item-text::after {
  transform: rotate(180deg);
}
.language__item-text {
  padding: 0 27px 0 5px;
  color: var(--color-secondary);
  position: relative;
  cursor: pointer;
}
.language__item-text::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 13px;
  height: 7px;
  background-image: url("../images/icons/arrow-down.svg");
  transition: transform 0.5s ease-out;
}

.language__list {
  position: absolute;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  display: none;
  opacity: 0;
  height: 0;
  transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out;
}
.language__list-link {
  color: var(--color-secondary);
  background-color: #fff;
  padding: 0 27px 0 5px;
  z-index: 9;
  transition: all 0.3s ease-in-out;
  border: 1px solid #fff;
}

.language__list-link:hover {
  border: 1px solid var(--color-secondary);
}

.basket__icon {
  position: relative;
}
.basket__count {
  position: absolute;
  top: 5px;
  right: -2px;
  width: 12px;
  height: 12px;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ff0000;
  color: #ffffff;
}

.log-out {
  padding: 0;
  padding-left: 38px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  position: relative;
}

.log-out::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  background-image: url("../images/icons/user.svg");
}

/* top */
.top__inner {
  position: relative;
  display: flex;
  align-items: center;
  padding: 75px 0 110px;
}
.top__inner::before {
  content: "";
  position: absolute;
  width: 112px;
  height: 112px;
  top: 31px;
  left: 751px;
  background-image: url("../images/top-avatar-1.png");
  background-color: #f7b525;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
}

.top__inner::after {
  content: "";
  position: absolute;
  width: 164px;
  height: 164px;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%);
  background-image: url("../images/top-avatar-2.png");
  background-color: #f7b525;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
}

.top__content {
  max-width: 943px;
  margin-right: 55px;
}
.top__content-title {
  font-family: "Vidaloka";
  font-size: 96px;
  line-height: 112px;
  letter-spacing: 0.1em;
  color: var(--color-title);
  margin-bottom: 32px;
}
.top__content-title--yellow {
  color: #ffaf00;
}
.top__content-subtitle {
  display: block;
  font-size: 64px;
  letter-spacing: 0.05em;
}

.top__content-text {
  max-width: 856px;
  line-height: 36px;
  letter-spacing: 0.045em;
  margin-bottom: 55px;
}
.top__contant-buttons {
  margin-bottom: 57px;
}

.top__contant-link {
  clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
}
.top__contant-button {
  clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0% 100%);
  padding: 23px 68px;
  background-color: #ffaf00;
}

.top__content-box {
  display: flex;
  gap: 82px;
}
.top__item {
  max-width: 329px;
}
.top__item-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 43px;
  letter-spacing: 0.045em;
  color: var(--color-title);
  margin-bottom: 12px;
}
.top__item-text {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.045em;
}

.top__wrapper {
  position: relative;
}
.top__wrapper::after {
  content: "";
  position: absolute;
  width: 90px;
  height: 90px;
  top: 111px;
  right: -122px;
  background-image: url("../images/top-avatar-3.png");
  background-color: #f7b525;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
}
